.confirmation {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;

  background-color: var(--color-dark--1);
  /* background-color: #fff; */
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 20000;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.confirmation p {
  font-size: 1.8rem;
}

.confirmation div {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 10000;
  transition: 100s;
}
